<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginApp</servlet-name>
        <servlet-class>com.andiazher.contability.controller.LoginApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginParamters</servlet-name>
        <servlet-class>com.andiazher.contability.controller.LoginParamters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavBarContent</servlet-name>
        <servlet-class>com.andiazher.contability.controller.parameters.NavBarContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.andiazher.contability.controller.parameters.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenusContent</servlet-name>
        <servlet-class>com.andiazher.contability.controller.parameters.MenusContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataAccounts</servlet-name>
        <servlet-class>com.andiazher.contability.controller.accountsData.DataAccounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppRoot</servlet-name>
        <servlet-class>com.andiazher.contability.app.AppRoot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuActive</servlet-name>
        <servlet-class>com.andiazher.contability.controller.MenuActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataMovents</servlet-name>
        <servlet-class>com.andiazher.contability.controller.accountsData.DataMovents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationApp</servlet-name>
        <servlet-class>com.andiazher.contability.controller.parameters.ConfigurationApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccounts</servlet-name>
        <servlet-class>com.andiazher.contability.controller.accountsData.AdminAccounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUsers</servlet-name>
        <servlet-class>com.andiazher.contability.controller.accountsData.SaveUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginApp</servlet-name>
        <url-pattern>/loginApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginParamters</servlet-name>
        <url-pattern>/loginParamters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavBarContent</servlet-name>
        <url-pattern>/navBarContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenusContent</servlet-name>
        <url-pattern>/menusContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataAccounts</servlet-name>
        <url-pattern>/dataAccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppRoot</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuActive</servlet-name>
        <url-pattern>/menuActive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataMovents</servlet-name>
        <url-pattern>/dataMovents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationApp</servlet-name>
        <url-pattern>/configurationApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccounts</servlet-name>
        <url-pattern>/adminAccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUsers</servlet-name>
        <url-pattern>/saveUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
